.DS_Store
node_modules
/bin
/turbosvelte-cli
build
/build
.svelte-kit
/.svelte-kit
package
/package
.env
.env.*
!.env.example
.vercel
.output
.turbo
**/build/**
**/dist/**
cinderlink
/cinderlink
candor
/candor
/docker/data
vite.config.js.timestamp.*
.pnpm/
pnpm-lock.yaml
pnpm-debug.log
**/broadcast/**
apps/*