[submodule "apps/registry-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = apps/registry-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/openzeppelin-contracts-upgradeable"]
	branch = v4.8.1
[submodule "apps/registry-contracts/lib/openzeppelin-contracts"]
	path = apps/registry-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.1
