[submodule "registry-contracts"]
	path = registry-contracts
	url = git@github.com:candorsocial/registry-contracts.git
	branch = main
[submodule "registry-frontend"]
	path = registry-frontend
	url = git@github.com:candorsocial/registry-frontend.git
	branch = main
[submodule "ui-kit"]
	path = ui-kit
	url = git@github.com:candorsocial/ui-kit.git
	branch = main
