# ipfs/kubo
version: "3.8"
services:
  # ipfs:
  #   image: ipfs/kubo:latest
  #   container_name: ipfs
  #   ports:
  #     - 4500:4500
  #     - 4502:4502
  #     - 4503:4503
  #   volumes:
  #     - ./docker/data:/data/ipfs
  #   environment:
  #     - IPFS_PATH=/data/ipfs
  libp2p-webrtc-star:
    image: libp2p/js-libp2p-webrtc-star
    container_name: libp2p-webrtc-star
    ports:
      - 4504:4504
  testnet:
    build: ./docker/testnet
    container_name: testnet
    ports:
      - 4242:4242
