@import url('https://use.typekit.net/crk7mse.css');
html,
body {
	@apply w-full h-full overflow-hidden font-sans;
	font-family: 'proxima-nova', sans-serif;
	font-size: 18px;
	color: red;
}
#candor {
	@apply w-full h-full;
}
